.portfolio {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 50px;

	&__block {
		display: flex;
		flex-direction: column;
		gap: 15px;
		img {
			max-width: 326px;
			margin: 0px auto 0px auto;
			@media (min-width: 1100px) {
				max-width: 1126px;
			}
		}
	}
}

.title {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;

	img {
		max-width: 35px;
		max-height: 35px;
		margin: 0 0 0 0;
		@media (min-width: 1100px) {
			max-width: 50px;
			max-height: 50px;
		}
	}

	h5 {
		font-size: 24px;
		@media (min-width: 1100px) {
			font-size: 48px;
		}
	}
}
