.portfolio {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 50px;

	&__block {
		display: flex;
		flex-direction: column;
		gap: 15px;
		img {
			max-width: 326px;
			margin: 0px auto 0px auto;
		}
	}
}

.title {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;

	img {
		max-width: 35px;
		max-height: 35px;
		margin: 0 0 0 0;
	}

	h5 {
		font-size: 24px;
	}
}
