.hero {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 0px;
}

.greeting {
	font-size: 55px;
	font-weight: 700;
	line-height: 120%;

	@media (min-width: 1000px) {
		font-size: 85px;
	}
}

.intro {
	font-size: 20px;
	font-weight: 700;

	span {
		font-size: 20px;
	}

	@media (min-width: 1000px) {
		font-size: 36px;

		span {
			font-size: 36px;
		}
	}
}

.headline {
	display: flex;
	flex-direction: column;
	font-weight: 700;
	line-height: 100%;
}

.headline__context,
.headline__primary {
	display: block;
	color: #ffffff;
	font-weight: 700;
}

.headline__context {
	font-size: 55px !important;
	line-height: 120%;
}

.headline__primary {
	font-size: 65px !important;
	line-height: 100%;
}

@media (min-width: 1000px) {
	.headline__context {
		font-size: 85px !important;
	}

	.headline__primary {
		font-size: 95px !important;
	}
}

.title {
	display: flex;
	flex-direction: row;
	align-items: start;

	img {
		max-width: 20px;
		max-height: 20px;

		@media (min-width: 1000px) {
			max-width: 40px;
			max-height: 40px;
			width: 100%;
		}
	}
}
.abstract {
	position: absolute;
	transform: rotate(-140deg);

	bottom: 100px;
	right: 0px;
	max-width: 243px;
	z-index: -1;

	@media (min-width: 1000px) {
		transform: translate(300px) !important;

		max-width: 579px !important;
		bottom: -50px !important;
	}
	@media (min-width: 1190px) {
		transform: translate(150px) !important;
	}
	@media (min-width: 1300px) {
		transform: translate(0px) !important;
	}
}
.developer {
	@media (min-width: 1000px) {
		position: absolute;
		bottom: -84px;
		left: -95px;
		max-width: 164px;
		max-height: 164px;
	}
}
