.contacts {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;

	&__list {
		display: flex;
		flex-direction: row;
		gap: 20px;
		align-items: center;
		z-index: 2;

		img {
			min-width: 40px;
			min-height: 40px;
		}
	}
}
.abstract__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	width: 100%;
	top: 0;
	.abstract {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		pointer-events: none;
		z-index: -1;
	}
}
